@use './../base/mixins' as mixins;

.hero {
	font-family: 'Tenor Sans';
	background: #672870;
	background: url('/assets/images/gamepad.png') no-repeat center right/contain,
		linear-gradient(
			45deg,
			rgba(103, 40, 112, 1) 0%,
			rgba(103, 40, 112, 1) 20%,
			rgba(79, 224, 255, 1) 100%
		);
	color: var(--color-text-secondary);
	padding-block: 84px;

	@include mixins.media-lg {
		background: url('/assets/images/gamepad.png') no-repeat right -200px bottom -30px /
				397px 365px,
			linear-gradient(
				45deg,
				rgba(103, 40, 112, 1) 0%,
				rgba(103, 40, 112, 1) 20%,
				rgba(79, 224, 255, 1) 100%
			);
	}

	&__content {
		max-width: 700px;
		display: grid;
		gap: 26px;
	}

	&__title {
		font-size: 32px;
		line-height: 1.125;

		@include mixins.media-md {
			font-size: 24px;
		}
	}

	&__description {
		font-size: 18px;
		line-height: 1.33;

		@include mixins.media-md {
			font-size: 16px;
		}
	}

	&__button {
		background-color: var(--color-background-primary);
		color: var(--color-button);
		padding: 16px 40px;
		text-align: center;
		max-width: 160px;
		border-radius: 8px;
		font-size: 16px;
		line-height: 1.25;
		border: 1px solid var(--color-secondary);
		transition: var(--transition);

		&:hover,
		&:focus {
			background-color: transparent;
			color: var(--color-secondary);
		}
	}
}
