@font-face {
    font-family: 'Maza';
    src: url('/assets/fonts/Maza/Maza.eot');
    src: url('/assets/fonts/Maza/Maza.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Maza/Maza.woff2') format('woff2'),
        url('/assets/fonts/Maza/Maza.woff') format('woff'),
        url('/assets/fonts/Maza/Maza.ttf') format('truetype'),
        url('/assets/fonts/Maza/Maza.svg#Maza') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('/assets/fonts/Tenor Sans/TenorSans.eot');
    src: url('/assets/fonts/Tenor Sans/TenorSans.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Tenor Sans/TenorSans.woff2') format('woff2'),
        url('/assets/fonts/Tenor Sans/TenorSans.woff') format('woff'),
        url('/assets/fonts/Tenor Sans/TenorSans.ttf') format('truetype'),
        url('/assets/fonts/Tenor Sans/TenorSans.svg#TenorSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

