:root {
	// --- Sizes ---
	--container-width: 1440px;
	--container-padding: 40px;

	// --- Colors ---
	--color-background-primary: #ffffff;
	--color-background-secondary: #f4f4f4;
	--color-background-hover: #d4d9dd;

	--color-primary: #4888ff;
	--color-secondary: #ffffff;
	--color-dark: #343a3f;
	--color-dark-gray: #999c9f;
	--color-gray: #e8e8e8;
	--color-border: #d3d3d3;

	--color-text-primary: #343a3f;
	--color-text-secondary: #ffffff;
	--color-text-accent: #4888ff;
	--color-button: #672870;

	// --- Opacity ---
	--opacity-20: 0.2;
	--opacity-50: 0.5;
	--opacity-90: 0.9;

	// --- Typography ---
	--font-family: 'Maza', sans-serif;

	// --- Other ---
	--transition: all 0.2s ease-in-out;
}

$xxs: 320px;
$xs: 380px;
$sm: 480px;
$ms: 576px;
$md: 768px;
$ml: 880px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1440px;
